@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ItemCategory Edit";
    Layout = "_AdminLayout";
}
@model DummyPos.Models.ItemCategory

<div class="container mt-4">
    <div class="card col-md-6 offset-md-3 shadow">
        <div class="card-header bg-warning text-dark">
            <h4>Edit Item Category</h4>
        </div>
        <div class="card-body">
            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="Item_Category_Id" />

                <div class="mb-3">
                    <label asp-for="Item_Category_Desc" class="form-label"></label>
                    <input asp-for="Item_Category_Desc" class="form-control" />
                    <span asp-validation-for="Item_Category_Desc" class="text-danger"></span>
                </div>

                <div class="form-check form-switch mb-3">
                    <input asp-for="Is_Active" class="form-check-input" type="checkbox" />
                    <label asp-for="Is_Active" class="form-check-label">Is Active?</label>
                </div>

                <button type="submit" class="btn btn-primary px-4">Update</button>
                <a asp-action="Index" class="btn btn-secondary px-4">Cancel</a>
            </form>
        </div>
    </div>
</div>