@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add Service";
    Layout = "_AdminLayout";
}
@model DummyPos.Models.ServiceType

<div class="container mt-4">
    <div class="card col-md-6 offset-md-3 shadow">
        <div class="card-header bg-primary text-white">
            <h4>Add New Service</h4>
        </div>
        <div class="card-body">
            <form asp-action="Create" method="post">
                <div class="mb-3">
                    <label asp-for="Service_Type_Desc" class="form-label"></label>
                    <input asp-for="Service_Type_Desc" class="form-control" placeholder="Enter service description..." />
                    <span asp-validation-for="Service_Type_Desc" class="text-danger"></span>
                </div>

                <div class="form-check form-switch mb-4">
                    <input class="form-check-input" type="checkbox" asp-for="Is_Active">
                    <label class="form-check-label" asp-for="Is_Active">Mark as Active</label>
                </div>
               

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a asp-action="Index" class="btn btn-outline-secondary me-md-2">Cancel</a>
                    <button type="submit" class="btn btn-primary px-4">Save Branch</button>
                </div>
            </form>
        </div>
    </div>
</div>
